version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always

    env_file:
      - ./app.env

    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}

    ports:
      - "3306:3306"

    volumes:
      - db_data:/var/lib/mysql

    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysqladmin ping -h localhost -uroot -p${DB_PASSWORD} || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  backend:
    image: bdsdmiii/book_backend:latest
    container_name: book_backend
    restart: always

    env_file:
      - ./app.env

    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      DB_HOST: db

    depends_on:
      db:
        condition: service_healthy

    ports:
      - "8080:8080"

    volumes:
      - backend_uploads:/app/uploads

  frontend:
    image: bdsdmiii/book_frontend:latest
    container_name: book_frontend
    restart: always

    depends_on:
      - backend

    ports:
      - "4200:80"

volumes:
  db_data:
  backend_uploads:
